{% extends 'lms/ncertuser/supportandsupervision.html'%}
{% block support%}

Please Select Time Period : 
<select>
  <option>Weekly</option>
  <option>15 days</option>
  <option>Monthly</option>
  <option>3 Months</option>
</select>
<br><br>

Please Select Performance : 
<select>
  <option>latent</option>
  <option>Emerging</option>
  <option>Established</option>
  <option>Advanced</option>
</select>
<br><br>

Justification:
<input type="text" name="">

<input type="submit" name="">


{% endblock %}