{% extends 'lms/ncertuser.html'%}
{% block ncert%}

Please Enter Your Choice : 
<select>
  <option>National Report</option>
  <option>State Report</option>
  <option>District Report</option>
  <option>School Report</option>
  <option>Student Report</option>
</select>
<br><br>
Please Enter Time : 
<select>
  <option>Monthly</option>
  <option>Weekly</option>
  <option>Daily</option>
</select>

<br><br>
Please Enter Evidence Type : 
<select>
  <option>Peer Assessment</option>
  <option>Portfolio Assessment</option>
  <option>Self Assessment</option>
  <option>Rubric Assessment</option>
  <option>Feedback Assessment</option>
  <option>MCQ</option>
</select>





{%endblock%}